/* Color Theme Swatches in Hex */
$orange: #d9763d;
$brown: #8c4e2a;
$white: #f2f2f2;
$gray: #595959;
$black: #0d0d0d;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $black;
  color: $white;
}

.hero {
  background: linear-gradient(0.01deg, $black 0.01%, $gray 95.44%);
}

.conteiner {
  max-width: 945px;
  margin: auto;
  border: 1px solid red;
}

section {
  padding: 64px 0 92px;
  border: 1px solid red;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: $white;
  padding-bottom: 84px;
}

// hero
.header {
  color: $orange;
  padding-top: 50px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}

.social-link {
  margin-left: 21px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 155px;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: $orange;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-top: 14px;
  margin-bottom: 20px;
}

.hero-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 38px 0;
  max-width: 44.5%;
}

.button {
  background: linear-gradient(180deg, $orange 0%, $brown 100%);
  box-shadow: 0px 4px 0px $gray;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  border: none;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  width: 309px;
  height: 66px;
}

.face {
  width: 389px;
  height: 389px;
  border-radius: 50%;
  object-fit: cover;
  object-position: -13px 0px;
  border: 13px solid $gray;
}

// features

.features-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-block {
  flex-basis: 30%;
  margin-bottom: 63px;
}

.features-img {
  width: 50px;
  height: 50px;
  margin-bottom: 22px;
}

.features-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $white;
  margin-bottom: 16px;
}

.features-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: $white;
}

// contacts

.contacts-block {
  display: flex;
}

.contacts-form {
  background: $white;
  box-shadow: -5px 5px 0px $orange;
  border-radius: 5px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 49px;
}

.form-title {
  color: $black;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 40px 48px 29px 48px;
}

.input {
  display: block;
  width: 309px;
  height: 63px;
  background: $white;
  box-shadow: inset 0px -2px 10px $gray;
  border-radius: 5px;
  padding: 18px 20px 18px 49px;
  border: none;
  font-size: 14px;
  line-height: 28px;
}

.input-name {
  margin: 0 36px 17px 36px;
  background-image: url('../img/user-icon.svg');
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.input-phone {
  margin: 0 36px 26px 36px;
  background-image: url('../img/phone-icon.svg');
  background-repeat: no-repeat;
  background-position: center left 20px;

}

.contact-data {
  display: flex;
}

.contact-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $white;
}
.contact-tel a, .contact-mail a, .contact-social a {
  font-size: 16px;
  line-height: 19px;
  color: $orange;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: $gray;
  }
}