/* Color Theme Swatches in Hex */
$orange: #d9763d;
$brown: #8c4e2a;
$white: #f2f2f2;
$gray: #595959;
$black: #0d0d0d;

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: $black;
  margin: 0;
  color: $white;
}
.conteiner {
  max-width: 945px;
  margin: auto;
}
// hero
.header {
  color: $orange;
  margin-top: 50px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.social-link {
  margin-left: 21px;
}
.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: $orange;
}
